# Virtual environments
venv/
venv_v1/
venv_v2/

# Python cache
__pycache__/
*.pyc

# Dataset
v2/dataset/

# Model files (optional)
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db

gestic-ui/node_modules/